head , body {
  height: 100%;
}
body{
  font-style: normal;
  background-color: rgb(253, 253, 253);
  color:  #16323E;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
:focus{
  outline: none;
}
button{
  cursor: pointer;
}
  /* 
  ========================
      HeroBg section
  ========================
   */
#heroBg{
  margin: 0;
  background: linear-gradient(115.51deg, #1E4B62 -2.19%, #2D6650 6.95%, #1F4D61 13.72%, #1E4B62 66.86%, #1E4B62 80.35%, #20495B 90.78%, #02BE75 110.88%);
  position: relative;
  display: block;
}
#heroBg .navBar {
  background-color: #fff;
  width: 100%;
  height: 52px;
  margin: 0;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  position: fixed;
  top: 0%;
  z-index: 1;
}
#heroBg .navBar img {
  width: 70px;
  height: 46px;
  position: absolute;
  left: 1%;
}
#heroBg .navBar ul{
  list-style: none;
  padding: 0;
}
#heroBg .navBar .navItem{
  display: none;
}
#heroBg .navBar .login{
  position: absolute;
  right: 3%;
}
#heroBg .navBar .login span a{
  text-decoration: none;
  color: #16323E;
}
#heroBg .navBar button{
  margin: 0 0 0 20px;
  font-family:'Poppins';
  width: 87px;
  height: 35px;
  background-color: #20495B;
  color: #fff;
  border: transparent;
  border-radius: 25px;
}
#heroBg .navBar button a{
  text-decoration: none;
  color: #fff;
}
#heroBg .heroContent{
  position: relative;
  height: 500px;
  padding-top: 5em;

}
#heroBg .heroContent .heroWords{
  width: 85%;
  margin: auto;
  text-align: center;
}
#heroBg .heroContent .heroWords h2{
  font-family:'Poppins';
  color: #fff;
  line-height: 35px;
}
#heroBg .heroContent .heroWords p{
  font-family:'Poppins';
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
#heroBg .heroContent .heroWords button{
  width: 105px;
  height: 40px;
  background-color: #fff;
  border: transparent;
  border-radius: 25px;
  font-family:'Poppins';
  font-weight: 500;
  font-size: 14px;
}
#heroBg .heroContent .heroImg{
  width:80%;
  margin: auto;
}
#heroBg .heroContent .heroImg .hero2{
  width: 100%;
  margin: 30px  0 0 0;
}
#heroBg .heroContent .heroImg .hero1{
  display: none;
}
  /* 
  ======================
        Why section
  ======================
   */
#why{
  position: relative;
  box-shadow: 1px 1px 10px 1px #D8D8D8;
  padding: 1em 0;
  width: 90%;
  margin:4em auto;
}
#why .whyImg {
  display: none;
 }

 #why .whyWords{
  padding: 0em 1em;
 }
 #why .whyWords h3{
  font-family:'Poppins';
  font-weight: 600; 
  font-size: 23px;
  line-height: 30px;
  text-align: center;margin: 0;

 }
 #why .whyWords p{
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
 }
 #why .whyWords ul{
  text-align: center;
  padding: 0;
 }
 #why .whyWords li{
  display: inline-block;
  width: 130px;
  margin: 10px 0;
  font-size: 14px;
 }
 #why .whyWords ul li::before {
  content: ".";
  font-size: 50px;
  line-height: 0;
  font-weight: bolder;
  display: inline-block; 
  width: 0.5em;
  color: #02BE75;
}
  /* 
  =========================
       Who section
  =========================
   */
#who{
  position: relative;
  background-color: #F4F9FB;
  padding:4em 0;
  text-align: center;
 }
.whoWords{
  width: 90%;
  text-align: left;
  padding: 0 1em;
}
#who .whoWords h3{
  font-family:'Poppins';
  font-weight: 600;
  line-height: 30px;
  font-size: 25px;
  margin: 0;
 }
 #who .whoWords p{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
 }
 #who button{
  display: inline-block;
  font-family:'new times roman';
  margin:10px;
  padding: 10px 0;
  width: 110px;
  border: transparent;
  border-radius: 10px;
  background-color: #02BE75;
  color: white;
  box-shadow: 1px 1px 10px 1px #E9E9E9;

 }
 #who .union9{
  position: absolute;
  width: 28.03px;
  height: 27.3px;
  right: 10%;
  top: 20%;
}
#who .union10{
  position: absolute;
  width: 28.03px;
  height: 27.3px;
  left: 1%;
  bottom: 0%;
}
/* 
==============================
    Health Wallet section
==============================
 */
 #healthWallet{
  margin: auto;
  text-align: center;
  padding: 2em 1em;
}
#healthWallet .walletWords{
  width: 95%;
  text-align: left;
}
#healthWallet .walletWords h3{
  font-family:'Poppins';
  font-weight: 600;
  line-height: 30px;
  font-size: 25px;
 }
 #healthWallet .walletWords p{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
 }
 #healthWallet  .healthTabs .tabs{
  height: 220px;
  padding: 34px 20px;
  background-color: #F4F9FB;
  margin:20px 10px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  box-shadow: 1px 1px 8px 1px #D8D8D8;
 }
 #healthWallet  .healthTabs .tabs img{
  width: 60px;
  height: 60px;
 }
 #healthWallet .healthTabs .tabs b{
  font-family:'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
 }
 #healthWallet .healthTabs .tabs p{
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-family:'new times roman';
 }
 /* 
  ===============================
         Benefits section 
  ===============================
    */
#benefits{
  background-color: #F4F9FB;
      position: relative;
      padding:4em 1em ;
    }
    #benefits .ellipse{
      display: none;
      position: absolute;
      top: 0%;
      right: 0%;
      margin: 0;
      padding: 0;
    }
    #benefits .benefitWords{
      width: 90%;
    }
    #benefits .benefitWords h3{
    font-family:'Poppins';
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    }
    #benefits .benefitWords p{
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }
    #benefits .benefitBtns{
      text-align: center;
    } 
    #benefits .benefitBtns button{
      width: 225px;
      height: 55px;
      border: transparent;
      border-radius: 35px;
      background-color: #02BE75;
      color: #fff;
      font-family:'new times roman';
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin: 30px 10px 5px 10px;
    }
    #benefits .union11{
      position: absolute;
      width: 28.03px;
      height: 27.3px;
      left: 7%;
      bottom: 40%;
    }
    #benefits .union12{
      position: absolute;
      width: 28.03px;
      height: 27.3px;
      left: 3%;
      bottom: 26%;
    }
    #benefits .union13{
      position: absolute;
      width: 28.03px;
      height: 27.3px;
      left: 7%;
      bottom: 14%;
    }
/* 
  ==============================
     Resources section
  ==============================
   */
   #resources{
    margin: auto;
    padding: 2em 1em;
  }
  #resources .resourcesWords{
    width: 95%;
  }
  #resources .resourcesWords h3{
   font-family:'Poppins';
   font-weight:600;
   font-size: 25px;
   line-height: 30px;
  }
  #resources .resourcesWords p{
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
  }
  #resources  .resourcesTabs{
   text-align: center;
   margin: 2em 0;
  }
  #resources .resourcesTabs .tab{
    display: inline-block;
    height: 220px;
    background-color: #20495B;
    color: #fff;
    margin: 20px 0;
    padding:25px 15px 18px 15px;
    vertical-align: top;
    box-shadow: 1px 1px 10px 1px #D8D8D8;
  }
  #resources .resourcesTabs .tab b{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }
  #resources .resourcesTabs .tab p{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    font-family:'new times roman';
  }
  #resources .resourcesTabs .tab button{
    float: right;
    width: 50px;
    height: 50px;
    background-color: #02BE75;
    color: #fff;
    border: transparent;
    border-radius: 30px;
    font-size: 30px;
    margin: 5px 20px;
  }
  /* 
  ============================
       Agent section
  ============================
   */
   #agent{
    position: relative;
    padding: 2em 1em;
    background-color: #F4F9FB;
  }
  #agent .agentImg {
   text-align: center;
   width: 45%;
   display: none;
  }
  #agent .agentImg img {
   width: 400px;
   height: 350px;
  }
  #agent .agentWords{
   width: 95%;
  }
  #agent .agentWords h3{
    font-family:'Poppins';
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
   }
   #agent .agentWords p{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
   }
   #agent .agentWords button{
     background-color: #20495B;
     color: #fff;
     width: 124px;
     height: 42px;
     border: transparent;
     border-radius: 30px;
     font-family:'Poppins';
   }
/* 
  =========================
        Games section
  =========================
   */
   #games{
    margin: 0;
    padding: 2em 1em;
    background: linear-gradient(104.51deg, #1E4B62 -2.19%, #2D6650 6.95%, #1F4D61 13.72%, #1E4B62 66.86%, #1E4B62 80.35%, #20495B 90.78%, #02BE75 110.88%);
    background: -moz-linear-gradient(104.51deg, #1E4B62 -2.19%, #2D6650 6.95%, #1F4D61 13.72%, #1E4B62 66.86%, #1E4B62 80.35%, #20495B 90.78%, #02BE75 110.88%);
    background: -webkit-linear-gradient(104.51deg, #1E4B62 -2.19%, #2D6650 6.95%, #1F4D61 13.72%, #1E4B62 66.86%, #1E4B62 80.35%, #20495B 90.78%, #02BE75 110.88%);
    position: relative;
  }
  #games .gamesWords{
    width: 95%;
  }
  #games .gamesWords h3{
    font-family:'Poppins';
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px
  }
  #games .gamesWords p{
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  #games .gamesWords img{
    width: 114px;
    margin: 10px 10px 10px 0;
  }
  #games .gamesImg{
    display: none;
    margin: 0 20px;
  }
  #games .gamesImg img{
    height: 361.47px;
  }
/* 
  ==============================
      Unlimited section
  ==============================
   */
   #unlimited{
    position: relative;
    padding:2em 0;
  }
  #unlimited .union{
   position: absolute;
   width: 28.82px;
 }
  #unlimited .union1{
   left: 10%;
   bottom: 20%;
 }
 #unlimited .union2{
   right: 4%;
   bottom: 20%;
 }
 #unlimited .union3{
   right: 10%;
   top: 119.88px;  
   opacity: 50%;
 }
 #unlimited .union4{
   left: 1%;
   bottom: 0%; 
   opacity: 50%;
 }
 #unlimited .unlimitedWords{
   text-align: center;
 }
 #unlimited .unlimitedWords h3{
   font-family:'Poppins';
   font-weight: 600;
   font-size: 30px;
   line-height: 48px;
   color: #16323E;
 }
 #unlimited .unlimitedWords button{
   font-family:'Poppins';
   width: 150px;
   height: 42px;
   background-color: #20495B;
   color: #fff;
   border: transparent;
   border-radius: 25px;
 }
 /* 
===============================
    Footer Section
===============================
 */
 .credits{
  background-color: #F4F9FB;
  padding: 3em 5px;
  text-align: center;
}
.credits .credit{
  vertical-align: text-top;
  margin-top: auto;
  font-size: 11px;
  padding: 0;
}
.credits .credit img{
  width: 70px;
}
.credits .links{
  padding: 0;

}
.credits .links .link{
  display: inline-block;
  width: 45%;
  vertical-align: text-top;
  padding: 0;
}
.credits .connect span{
  display: inline-block;
}
.credits .credit ul{
  padding: 0;
  margin: 10px 5px;
}
.credits .credit ul li{
  list-style-type:none;
  line-height: 23px;
}
.credits .credit ul li a{
  text-decoration: none;
  color: #16323E;
}
.credits .credit .connect img{
  width: 20px;
  margin:0px 15px ;
}
.credits .lg img{
  width: 100px;
  margin: 0 0 20px 0;

}
.credits b{
  color: #16323E;
  font-size: 14px;
}
.credits p{
  margin: 20px 0;
  font-size: 12px;
}
/* 
==============================
    Contact
==============================
 */
 .contact{
   position: relative;
   display: inline-block;
   width: 39px;
 }
 .contact span{
  visibility: hidden;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -80px;
}
.contact span::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #000 transparent ;
}
.contact:hover span{
  visibility: visible;
}
 /* 
================================
     for bigger screens
================================
 */
 @media (min-width:600px){
#heroBg .heroContent{
  height: 600px;
}

#healthWallet  .healthTabs .tabs{
  width: 224px;
}
#resources .resourcesTabs .tab{
  width: 236px;
  height: 225px;
  margin: 20px 9px;
}
.credits .credit{
  display: inline-block;
  width: 33%;
  text-align: left;
}
.credits .links .link{
  width: 50%;
  text-align: left;
}
#heroBg .heroContent .heroImg{
  width:65%;
}
.contact {
  display: flex;
  justify-content :center ;
  vertical-align: top;
}
.contact .getintouch{
  width: 40%;
  margin-right: 2em;
}
.contact .msg{
  width: 47%;
}
}
@media (min-width:680px){
  #healthWallet  .healthTabs .tabs{
    width: 254px;
    margin: 20px 15px;
  }
  #resources .resourcesTabs .tab{
    width: 256px;
    height: 220px;
    margin: 20px 15px;
  }
}
@media (min-width:768px){
  #heroBg .navBar .navItem{
    text-decoration: none;
    display: inline-block;
    margin:0 20px;
  }
  #heroBg .navBar{
    position: relative;
  }

  #heroBg .navBar .navItem a{
    text-decoration: none;
    color:#16323E ;
  }
  #heroBg .heroContent{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0em;

  }
  #heroBg .heroContent .heroWords{
    width: 70%;
    margin: 0 1em;
    text-align: left;
  }
  #heroBg .heroContent .heroWords h2{
    color: #fff;
    margin: 0;
    font-size: 35px;
    line-height: 50px;
  }
  #heroBg .heroContent .heroWords p{
    color: #fff;
  }
  #heroBg .heroContent .heroImg .hero2{
    position: absolute;
    width: 320px;
    right: 4%;
    top: 20%;
  }
  #heroBg .heroContent .heroImg .hero1{
    display: block;
    position: absolute;
    width: 270px;
    right: 2%;
    top: 35%;
  }
  #why{
    box-shadow: none;
    /* width: 89%; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #why .whyImg {
    display: block;
   }
   #why .whyImg img{
    width: 350px;
  }
  #why .whyWords{
    padding: 0em 0 0 2em;
   }
   #why .whyWords h3{
    text-align: left;
   }
   #why .whyWords ul{
    text-align: left;
   }
   #why .whyWords li{
    display: block;
   }
  .whoWords{
    width: 70%;
    padding: 0 2em;
  }
  #healthWallet .walletWords{
    width: 70%;
    padding: 0 1em;
  }
  #healthWallet  .healthTabs .tabs{
    width: 284px;
    margin: 20px 18px;
  }
  #benefits .benefitWords{
    width: 70%;
    padding: 0 1em;
  }
  #resources .resourcesWords{
    width: 70%;
    padding: 0 1em;
  }
  #resources .resourcesTabs .tab{
    width: 290px;
    margin: 20px 18px;
  }
  #agent{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #agent .agentImg {
    width: 50%;
    display: block;
   }
   #agent .agentImg img {
    width: 350px;
    height: 270px;
   }
   #agent .agentWords{
    padding: 0 0 0 2em;
    width: 50%;
   }
   #games{
    padding: 1em 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   #games .gamesWords{
    width: 50%;
    padding: 0 0 0 2em;
  }
  #games .gamesWords img{
    width: 145px;
  }
   #games .gamesImg{
     width: 50%;
    padding: 0 2em;
    display: block;
    text-align: center;
  }
  #games .gamesImg img{
    height: 361.47px;
  }
}
@media (min-width:850px){
  #heroBg .heroContent .heroWords{
    width: 70%;
    margin: 0 0 0 2em;
  }
}
@media (min-width:900px){
  #heroBg .heroContent .heroWords{
    width: 60%;
    margin: 0 0 0 3em ;
  }
  #heroBg .heroContent .heroWords h2{
    line-height: 50px;
  }
  #heroBg .heroContent .heroImg .hero2{
    width: 370px;
    right: 5%;
    top: 17%;
  }
  #heroBg .heroContent .heroImg .hero1{
    width: 310px;
    right: 2%;
    top: 33%;
  }
}
@media (min-width:1000px){
  #heroBg .heroContent{
    height: 520px;
  }
  #heroBg .heroContent .heroWords{
    margin: 0 2em;
    width: 60%;
  }
  #heroBg .heroContent .heroWords h2{
    font-size: 40px;
    line-height: 50px;
  }
  #heroBg .heroContent .heroImg .hero2{
    position: absolute;
    width: 425px;
    right: 5%;
    top: 18%;
  }
  #heroBg .heroContent .heroImg .hero1{
    display: block;
    position: absolute;
    width: 330px;
    right: 2%;
    top: 35%;
  }
  #why{
    box-shadow: none;
    width: 80%;
  }
  #why .whyImg img{
    width: 400px;
  }
  #who{
    text-align: left;
  }
   #who .whoBtns{
    padding: 0 0 0 2em;
   }
  #healthWallet  .healthTabs .tabs{
    width: 260px;
    margin: 20px 11px;
  }
  #benefits .ellipse{
    display: block;
    height: 400px;
  }
  #benefits .benefitWords{
    width: 60%;
   }
  #benefits .benefitBtns{
    width: 80%;
    text-align: center;
    margin: auto;
  } 
  #resources .resourcesTabs .tab{
    width: 270px;
    margin: 20px 11px;
  }
  #agent .agentImg img {
    width: 400px;
    height: 270px;
   }
  #games .gamesWords{
    padding: 0 0 0 3em;
  }
}
@media (min-width:1200px){
  #heroBg .heroContent{
    height: 600px;
  }
  #heroBg .heroContent .heroWords{
    width: 55%;
    margin: 0 0 0 5em;
  }
  #heroBg .heroContent .heroImg .hero2{
    width: 480px;
    right: 6%;
    top: 17%;
  }
  #heroBg .heroContent .heroImg .hero1{
    width: 370px;
    height: 400;
    right: 3%;
    top: 32%;
  }
  #why{
    box-shadow: none;
    width: 70%;
    display: flex;
  }
  #why .whyImg{
    width: 50%;
  }
  #why .whyImg img{
    width: 402px;
  }
  #why .whyWords{
    text-align: left;
    width: 50%;
    padding: 0em 0 0 5em;
   }
  .whoWords{
    padding: 0 3em;
  }
  #healthWallet .walletWords{
    width: 60%;
    padding: 0 2em;
  }
  #healthWallet  .healthTabs .tabs{
    width: 295px;
    margin: 25px;
  }
  #benefits .benefitWords{
    padding: 0 2em;
  } 
  #benefits .benefitBtns{
    width: 70%;
  }
  #resources .resourcesWords{
    width: 60%;
    padding: 0 2em;
  }
  #resources .resourcesTabs .tab{
    width: 315px;
    margin: 20px;
  }
  #agent .agentImg {
    padding: 0 2em ;
    width: 50%;
   }
   #agent .agentImg img {
    width: 500px;
    height: 350px;
   }
  #agent .agentWords{
    padding: 0 2em ;
    width: 50%;
   }
}
@media (min-width:1300px){
  #heroBg .heroContent{
    height: 600px;
  }
  #heroBg .heroContent .heroWords{
    width: 50%;
    margin: 0 0 0 5.5em;
  }
  #heroBg .heroContent .heroImg .hero2{
    position: absolute;
    width: 560px;
    height: 339px;
    right: 8%;
    top: 15%;
  }
  #heroBg .heroContent .heroImg .hero1{
    width: 410px;
    height: 440;
    right: 5%;
    top: 32%;
  }
  #healthWallet .walletWords{
    width: 50%;
  }
  #healthWallet  .healthTabs .tabs{
    width: 332px;
    margin: 25px;
  }
  #benefits .benefitWords{
    width: 40%;
  }
  #benefits .benefitBtns{
    width: 60%;
  }
 
}